a {
	color: $main-color !important;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
a {
	&.btn-primary-outline{
		border: 1px solid $main-color;
		padding:5px 15px;
		border-radius: 4px;
		text-decoration: none;
		transition: 1s;
		&:hover{
			background-color: $main-color;
			color:white !important;
		}
	}
}